@font-face {
  font-family: "iconfont"; /* Project id 2342688 */
  src: url('iconfont.woff2?t=1657873013733') format('woff2'),
       url('iconfont.woff?t=1657873013733') format('woff'),
       url('iconfont.ttf?t=1657873013733') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e605";
}

.icon-erweima:before {
  content: "\e618";
}

.icon-weizhi:before {
  content: "\e601";
}

.icon-quanxian:before {
  content: "\e60d";
}

.icon-dingdan:before {
  content: "\e60a";
}

.icon-houtai2:before {
  content: "\e623";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-shangpin:before {
  content: "\e75f";
}

.icon-bianzubeifen3:before {
  content: "\e606";
}

.icon-bianzu12:before {
  content: "\e609";
}

.icon-success:before {
  content: "\e640";
}

.icon-close-progress:before {
  content: "\e649";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-jiantou9:before {
  content: "\e60b";
}

.icon-icon-cross-squre:before {
  content: "\e668";
}

.icon-guanbi:before {
  content: "\e607";
}

.icon-guanbi2fill:before {
  content: "\e724";
}

.icon-arrow-right:before {
  content: "\e665";
}

