html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  background: url(../images/login_bg.jpg) no-repeat;
  background-size: cover;
}

.loginAndRegBox {
  width: 25rem;
  height: 19.375rem;
  background-color: #fcfffc;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}
.title-box {
  height: 50px;
  background: url(../images/login_title.png) no-repeat;
  background-position: center;
}

.reg-box {
  display: none;
}

.links {
  display: flex;
  justify-content: flex-end;
}
.layui-form-item {
  position: relative;
}
.layui-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.login-box .layui-form .layui-input {
  padding-left: 32px;
}
.reg-box .layui-form .layui-input {
  padding-left: 32px;
}

/*去除a标签下划线*/
a {
  text-decoration: none;
  color: #2d2e2f;
  outline: none;
}
/*去除未被访问的a标签的下划线*/
a:link {
  text-decoration: none;
}
/*去除已经被访问过的a标签的下划线*/
a:visited {
  text-decoration: none;
}
/*去除鼠标悬停时的a标签的下划线*/
a:hover {
  text-decoration: none;
}
/*去除正在点击的a标签的下划线（鼠标按下，尚未松开）*/
a:active {
  text-decoration: none;
}
/*去除获得焦点的a标签的下划线（被鼠标点击过）*/
a:focus {
  text-decoration: none;
}
